html,
#root {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff"); /* Make sure to add the correct path */
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif; /* Use the font in body or other elements */
}
